.index {
    .footer {
        position: unset;
    }
}

    .footer {
        background-color: #353535;
        color: white;
        &--menu {
            margin-left: 20px;
            section {
                @media (min-width: 768px) {
                    width: 100%;
                }
            }
            a {
                color: white;
                width: 100%;
            }
        }
    h4 {
        font-family: "Shrikhand";
        margin-bottom: 30px;
        padding-top: 25px; 
        -webkit-text-stroke: 0;
        font-weight: unset;
        @media (min-width: 768px) {
            display: flex;
            font-size: 25px;
            justify-content: center;
            margin-bottom: 20px;
        }  
    }
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;
        @media (min-width: 1440px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            flex-wrap: nowrap;
            margin-left: 40px;
        }
        i {
            margin-right: 10px;
            width: 3%; 
        }  
    }
    p { 
        font-size: 16px;
        padding-bottom: 4%;
        width: 90%;
        -webkit-text-stroke: 0.1px;
    }
}
   