body {
  margin: 0;
}

.bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bloc__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

figure {
  margin-left: 0;
}

.menu figure {
  width: 96%;
}

@media (min-width: 768px), (min-width: 1440px) {
  .fonctionnement h2 {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 768px), (min-width: 1440px) {
  .restaurant h2 {
    width: 100%;
    text-align: center;
  }
}
