.index .footer {
  position: unset;
}

.footer {
  background-color: #353535;
  color: white;
}

.footer--menu {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .footer--menu section {
    width: 100%;
  }
}

.footer--menu a {
  color: white;
  width: 100%;
}

.footer h4 {
  font-family: "Shrikhand";
  margin-bottom: 30px;
  padding-top: 25px;
  -webkit-text-stroke: 0;
  font-weight: unset;
}

@media (min-width: 768px) {
  .footer h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

@media (min-width: 1440px) {
  .footer div {
    margin-left: 60px;
  }
}

@media (min-width: 768px) {
  .footer div {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 40px;
  }
}

.footer div i {
  margin-right: 10px;
  width: 3%;
}

.footer p {
  font-size: 16px;
  padding-bottom: 4%;
  width: 90%;
  -webkit-text-stroke: 0.1px;
}
