body {
  align-self: center;
  max-width: 1440px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.625rem;
  line-height: 1rem;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.87rem;
  color: #901c1c;
  margin-left: 1%;
}

h2 {
  color: #d3573c;
}

h3 {
  font-size: 0.81rem;
  line-height: 1rem;
  margin-bottom: 3px;
  color: #901c1c;
}

p {
  line-height: 0.81rem;
}

a {
  font-size: 0.75rem;
  line-height: 0.94rem;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #901c1c;
  text-decoration: none;
}

.tag-style {
  font-size: 0.75rem;
  line-height: 0.94rem;
  font-weight: 500;
  color: #901c1c;
  background-color: white;
  border: none;
  cursor: pointer;
}

.main-fichetechnique button {
  width: 20%;
  align-self: center;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0 5em 7%;
}
.header .logo {
  width: 14%;
  min-width: 150px;
}
.header .main-nav {
  display: flex;
  align-items: center;
}
.header .main-nav__list {
  display: flex;
}
.header .main-nav__list__link {
  border: solid 0.5px #c4c4c4;
  border-radius: 11px;
  margin: auto 5px;
  padding: 3px 5px;
  list-style-type: none;
}
.header .passer-au-contenu {
  display: none;
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  background-color: #db8876;
  border-radius: 10px;
  padding: 0.5%;
  text-align: center;
}
.header .passer-au-contenu a {
  font-size: 1.19rem;
  font-weight: 700;
  color: black;
}

/* MAIN */
.main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  row-gap: 3.5rem;
  justify-content: space-between;
  margin: auto 7% 4rem 7%;
}

.card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 16.3rem 3.56rem 1.87rem;
}
.card__img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
.card__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 6px 6px 8px -6px rgba(0, 0, 0, 0.35);
}
.card__img h2 {
  text-align: center;
  white-space: nowrap;
}
.card__content {
  text-align: center;
  padding-top: 0.5rem;
}
.card__content__tagline {
  margin-bottom: 3px;
}
.card__content__price {
  font-size: 18px;
}
.card__content div__tag {
  display: flex;
  justify-content: center;
  border: solid 0.5px #c4c4c4;
  border-radius: 11px;
  margin: auto 5px;
  padding: 3px 5px;
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

.main-fichetechnique {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.main-fichetechnique img {
  width: auto;
}
.main-fichetechnique p {
  font-size: 17px;
  font-weight: bold;
}
.main-fichetechnique .ficheTechnique {
  margin-left: 3%;
}
.main-fichetechnique .ficheTechnique__description {
  display: flex;
  line-height: 20px;
}
.main-fichetechnique .ficheTechnique__description:nth-child(5), .main-fichetechnique .ficheTechnique__description:nth-child(6) {
  width: 23%;
}
