body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

body .logo h1 {
  font-family: "Shrikhand";
  margin: 0 0 10px 0;
  font-size: 27px;
}

body .menu h2 {
  font-family: "shrikhand";
  -webkit-text-stroke: unset;
}

body .menu h3 {
  border-bottom: solid;
  border-color: #99E2D0;
  width: 15%;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  body .menu h3 {
    width: 7%;
  }
}

h2, p, h3, h4 {
  margin: 0;
  -webkit-text-stroke: 1px;
}

h3 {
  font-size: 20px;
  margin: 30px 0 10px 0;
  width: 90%;
}

@media (min-width: 768px) {
  input {
    font-size: 17px;
  }
}

.reservation__btn p {
  -webkit-text-stroke: 0.5px;
}

a {
  text-decoration: none;
  color: #000000;
}

a p {
  color: white;
}

a:visited {
  color: #000000;
}
