.tag-style {
    font-size: 0.75rem;
    line-height: 0.94rem;
    font-weight: 500;
    color: #901c1c;
    background-color: white;
    border: none;
    cursor: pointer;
  }

  .main-fichetechnique {
    button {
      width: 20%;
      align-self: center;
    }
  }