.main-fichetechnique {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    img {
        width: auto;
    }
    p {
        font-size: 17px;
        font-weight: bold;
    }
    .ficheTechnique {
        margin-left: 3%;
        &__description {
            display: flex;
            line-height: 20px;
            &:nth-child(5),&:nth-child(6) {
                width: 23%;
            }
            
        }
    }
    
}
