.main-fichetechnique {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    img {
        width: auto;
    }
    p {
        font-size: 17px;
        font-weight: bold;
    }
}
