@import "_variables.scss";

@mixin hover-fonctionnement {
    ul { 
        background-color: $bg-color-hover;
    }
    i {
        color: $bg-color-primary;
    }
}

@mixin animation-menu {
    opacity: 1;
    transform-origin: bottom;
}
